<nav class="navbar navbar-dark bg-dark">
  <span class = "navbar-brand">Welcome to my Blog</span>
  <button class = "navbar-toggler sf" type="button" data-toggle="collapse" data-target = "#navTarget">
          <span class="dark-blue-text">
            <i class="fas fa-bars fa-1x"></i>
          </span>
  </button>
  <div class ="collapse navbar-collapse" id ="navTarget">
    <ul class= "nav">
      <li class="nav-item bg-dark">
        <a class= "nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class= "nav-link" href="#blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class= "nav-link" href="#aboutMe">About Me</a>
      </li>
      <li class="nav-item">
        <a class= "nav-link" href="#contact">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
